p {
  text-align: justify; }

.btn-option {
  min-width: 9em; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.index-submit-button {
  float: right;
  margin-top: 2em; }

.big-buttons {
  min-width: 100%; }

#noscript {
  color: red; }

.tree-child-graph {
  border-color: whitesmoke;
  border-image: none;
  border-style: none none solid;
  border-width: 0 0 3px; }

/* Molt útil com exemple per fer els distints grafs de famílies de tree child */
.bs-docs-example:after {
  background-color: whitesmoke;
  border: 1px solid #dddddd;
  border-radius: 4px 0 4px 0;
  color: #9da0a4;
  content: "Example";
  font-size: 12px;
  font-weight: bold;
  left: -1px;
  padding: 3px 7px;
  position: absolute;
  top: -1px; }

.download-network-buttons {
  float: right; }
